
<div class="settings-container">
    <div class="outer-switch-container">
        <div class="button-container">
            <a 
                class="tab-button" 
                routerLink="/settings/account"
                (click)="switchTab('account')"
                [ngClass]="activeCheck('account')"
            >
                Account
            </a>
            <a 
                class="tab-button" 
                routerLink="/settings/setup"
                (click)="switchTab('setup')"
                [ngClass]="activeCheck('setup')"
            >
                Set-up
            </a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>