
<div class="item-container" *ngIf="!isArray(alert)">
    <div class="title">
        <app-title 
        [title]="alert"
        ></app-title>
    </div>
    <div class="dropdown">
        <app-dropdown
        [options]="alert.option"
        [selectedOption]="alert.default"
        [key]="key"
        ></app-dropdown>
    </div>
</div>
<div class="input-container" *ngIf="isArray(alert)">
    <app-input
    [emails]="alert"
    [key]="key"
    >
    </app-input>
</div>
<hr *ngIf="!isArray(alert)">


