@use '../../../../../../styles/abstracts/abstracts' as *;


.item-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .title{
        width: 70%;
    }
    .dropdown{
        display: flex;
        align-items: center;
        justify-content: end;
        width: 30%;
        margin-right: 10px;
    }

    @include respond-to(small) {
        .title{
            width: 70%;
            margin-right: 20px;
        }
        .dropdown{
            width: 30%;
        }
    }

}

.input-container{
    background-color: #ECECED;
    border-radius: 8px;
    margin: 0 8px;
}


hr{
    border: 1px solid #ddd;
}