@use '../../../../../../../styles/abstracts/abstracts' as *;

.title-container {
  margin: 10px;
  margin-top: 15px;
}
h2 {
  font-size: 0.8rem;
  margin: 0;
  line-height: 100%;
}
.h2title {
  letter-spacing: 2px;
  font-weight: bold;
  margin: 10px 0;
  @include respond-to(medium) {
    font-size: 1rem;
  }
}

.h2item {
  letter-spacing: normal;
  font-weight: 600;
  margin: 8px 0;
  @include respond-to(medium) {
    font-size: 0.9rem;
  }
}
.subTitle{
  font-size: 14px;
}