

// breakpoint
$breakpoint-small: 576px;
// $breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

// colors
$primary-color:#009AD8;
$secondary-color:#ECECED;