

<div *ngFor="let section of settings | keyvalue">
    <app-settings-container
        [key]="section.key"
    >
        <ng-container *ngIf="hasNestedStructure(section)">
            <div *ngFor="let item of section.value | keyvalue">
                <div class="container">
                    <app-alert-container
                        [key]="getSubObjectKey(section,item)"
                        [alerts]="item"
                    >
                    </app-alert-container>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="!hasNestedStructure(section)">
            <div class="container">
                <app-alert-container 
                    [alerts]="section"
                    [key]="getSingleObjectKey(section)"
                >
                </app-alert-container>
            </div>
        </ng-container>
    </app-settings-container>
</div>