
<div class="item-container" *ngIf="isFormGroup(alert)">
    <div class="title">
        <app-title 
        [title]="getTitle()"
        ></app-title>
    </div>
    <div class="dropdown">
        <app-dropdown
        [options]="alert.get('option').value"
        [selectedOption]="alert.get('default').value"
        [key]="key"
        ></app-dropdown>
    </div>
</div>


<div class="input-container" *ngIf="isFormArray(alert)">
    <app-input
    [emails]="alert"
    [key]="key"
    >
    </app-input>
</div>
<hr *ngIf="isFormGroup(alert)">


