

.outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 20px;
}
.account-container{
    width: 1000px;
    height: 500px;
    background-color: #EBEEF4;
    display: flex;
    justify-content: center;
    align-items: center;
}





