<!-- <app-loading-spinner *ngIf="!form"></app-loading-spinner>

<ng-container *ngFor="let section of form.controls | keyvalue;">
    <app-settings-container
        [key]="section.key"
    >
        <div *ngFor="let item of section.value.controls | keyvalue;" class="setup-container">
            <app-alert-container
                [key]="getSubObjectKey(section, item)"
                [alerts]="item"
            >
            </app-alert-container>

            <ng-container [formGroup]="item.value">
                <input *ngIf="isFormControl(item.value)" [formControlName]="item.key" />
            </ng-container>
        </div>
    </app-settings-container>
</ng-container> -->


<ng-container [formGroup]="form" *ngFor="let section of form.controls| keyvalue;">
    
    <!-- <app-settings-container
        [key]="section.key"
    >
        <div formGroupName="{{section.key}}" *ngFor="let item of section.value['controls'] | keyvalue;" class="setup-container">
            <app-alert-container 
                [key]="getSubObjectKey(section,item)"
                [alerts]="item"
            >
            </app-alert-container>
        </div>
        <div class="button-container">
            <button 
                [disabled]="!section.value.dirty"
                class="apply-button" 
                (click)="onApplyChange(section.key)"
            >
                Apply Changes
            </button>
        </div>
    </app-settings-container> -->

    <!-- <app-setup-form
      [sectionForm]="section"  
    >
    </app-setup-form> -->


</ng-container>