@use '../../../../../../../styles/abstracts/abstracts' as *;

.alert-container {
  display: grid;
  grid-template-columns: 100%;
  @include respond-to(small) {
    grid-template-columns: 33% 67%;
    margin: 1.2rem 0;
    padding: 0 1rem;
  }
}



