
<div *ngIf="alerts"class="alert-container" [ngStyle]="getBackgroundColor()">
  <div class="alert-container-header">
    <app-title [title]="getTitle()" [titleType]="true">
    </app-title>
  </div>

  <div class="alert-container-content">
    <ng-container *ngFor="let alertKey of alerts.value['controls'] | keyvalue">
      <app-alert-item 
        *ngIf="!isFormControl(alertKey.value)" 
        [key]="getKey(alertKey)"
        [alert]="alertKey.value"
      >
      </app-alert-item>
    </ng-container>
  </div>

</div>