@use '../../../../../../../styles/abstracts/abstracts' as *;

.email-container {
  border: 1px solid $secondary-color;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: $secondary-color;
  border-radius: 8px;
}

.email-item {
  display: inline-block;
  background-color: #FAFAFA;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.remove-btn {
  background: none;
  border: none;
  color: #777;
  cursor: pointer;
  margin-left: 5px;
}

.email-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  min-width: 150px;
  background-color: $secondary-color;
  margin: 5px;
}

.email-input::placeholder {
  color: #0a0a0a;
}