<!-- 
<app-loading-spinner *ngIf="!settings"></app-loading-spinner>

<ng-container *ngFor="let section of settings | keyvalue;">
    <app-settings-container
        [key]="section.key"
    >
        <div *ngFor="let item of section.value | keyvalue;" class="setup-container">
            <app-alert-container
                [key]="getSubObjectKey(section,item)"
                [alerts]="item"
            >
            </app-alert-container>
        </div>
    </app-settings-container>
</ng-container>


   
 -->
