@use '../../../../styles/abstracts/abstracts' as *;



.container {
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .logo img {
        height: 30px;
        width: 60px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .menu-item {
            margin-right: 10px;
            font-size: 12px;
            color: #333;
            cursor: pointer;
        }
    }

    .actions {
        display: flex;
        align-items: center;

        .action-item {
            display: flex;
            align-items: center;
            margin-left: 10px;
            cursor: pointer;

            .action-item-text {
                font-size: 12px;
                color: #333;
                margin-left: 5px;
            }

            .action-item-count {
                background-color: red;
                color: white;
                padding: 3px 3px;
                border-radius: 50%;
                font-size: 8px;
                margin-bottom: 5px;
            }
        }

        .user-button {
            font-size: 24px;
            font-weight: bold;
            margin-left: 5px;
            padding: 3px;
            border: 1px solid #ddd;
            border-radius: 5px;

            .fa-regular {
                color: $primary-color;
            }

            .action-item-email {
                font-size: 10px;
                color: #333;
                margin-left: 5px;
            }
        }
    }

    .hamburger {
        display: flex;
        cursor: pointer;
        font-size: 26px;
        color: #333;
    }

    .hide-item {
        display: none;
    }

    .user-button {
        display: none;
    }
}

.nav-menu {
    width: 100%;
    display: none;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    &.open {
        display: flex;
        flex-direction: column;
    }

    .menu-item {
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        text-align: center;
        cursor: pointer;

        &:last-child {
            border-bottom: none;
        }
    }
}

.user-button-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 30px 0 0 30px;
}

.user-button-menu.open {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}

.dropdown-menu {
    display: block;
    position: absolute;
    background-color: white;
    min-width: 145px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu a:hover {
    background-color: #EBEEF4;
}


@media (min-width: 667px) {
    .header-container {
        .menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .menu-item {
            display: flex;
        }

        .hamburger {
            display: none;
        }

        .hide-item {
            display: flex;
        }

        .user-button {
            display: flex;
        }

        .action-item-count {
            background-color: red;
            color: white;
            padding: 6px 8px;
            border-radius: 50%;
            font-size: 10px;
            margin-left: 5px;
        }
    }
}