
<div class="container">
    <div class="header-container">
        <div class="hamburger" (click)="toggleMenu()">
            <i class="fa fa-bars"></i>
        </div>
        <div class="logo">
            <img style="height: 40px; width: 70px;" src="https://mms.businesswire.com/media/20201022005117/en/863276/23/4357163cTennantCompany-logo-fullcolor-transparent.jpg" alt="">
        </div>
    
        <div class="menu" [ngClass]="{'open': menuOpen}">
            <span class="menu-item">Overview</span>
            <span class="menu-item">Location</span>
            <span class="menu-item">Usage</span>
            <span class="menu-item">Run Time</span>
            <span class="menu-item">Admin</span>
            <span class="menu-item">Service</span>
        </div>

        <div class="actions">
            <span class="action-item">
                <i class="fa fa-bell"></i>
                <span class="action-item-text">Alerts</span>
                <span class="action-item-count">25</span>
            </span>
            <div class="user-button">
                <span class="action-item">
                    <i class="fa-regular fa-circle-user"></i>
                    <span class="action-item-text">USER</span>
                    <span class="action-item-email">{{'@GMAIL.COM'}}</span>
                </span>
            </div>
        </div>
    </div>
</div>
